.form{  
    margin: auto;
    text-align: center;
    border: solid 0.3px;
    border-radius: 3%;
    margin-top: 1.5%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    width: 55%;
}
.form1{
    margin: auto;
    text-align: center;
    border: solid 0.3px;
    border-radius: 3%;
    margin-top: 5%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    width: 55%;
}